<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta charset="utf-8">
        <meta
            http-equiv="x-ua-compatible"
            content="ie=edge"
        >
        <meta
            name="viewport"
            content="width=device-width,initial-scale=1"
        >
        <meta
            name="description"
            content="Dog Adoption - Save a life,  adopt a dog."
        >
        <meta
            name="Keywords"
            content="Adopt A Dog, Dog Adoption, Adopt Dog,"
        >
        <meta
            name="classificaton"
            content="dog adoption"
        >
        <meta
            name="abstract"
            content="dog adoption"
        >
        <title>Dog Adoption</title>
    </head>

    <body>
        <%= require('./snippets/header.html') %>
        <main id='main-content'></main>
        <%= require('./snippets/footer.html') %>
    </body>
</html>
