<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Dog Adoption</title>
    </head>

    <body>
        <%= require('./snippets/header.html') %>
        <main id='main-content'></main>
        <%= require('./snippets/footer.html') %>
    </body>
</html>
